body
{
  text-align:center;
  width:100%;
  margin:0 auto;
  padding:0px;
  font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
  background: linear-gradient(white, #D3D8E8);
}



#wrapper
{
  margin:0 auto;
  padding:0px;
  text-align:center;
  width:980px;
}
#wrapper div
{
  float:left;
  font-family: helvetica, arial, sans-serif;
}
#wrapper #div1
{
  margin-top:30px;
  width:590px;
  text-align:left;
}
#wrapper #div2
{
  margin-top:10px;
  width:390px;
  text-align:left;
}

